@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Stock Portfolio Tracker</h1>
    <p class="lead">Simple app for showing data from your stock wallets</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Wallets" role="button">View Wallets</a>
    </p>
</div>
