@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

@*  <p>
    <a asp-action="Create">Create New</a>
</p> *@

<h2>Stock Portfolio Tracker</h2>

<h4>Simple app for showing data from your stock wallets</h4>

<a asp-controller="Wallets" class="btn btn-primary">Wallets</a>