@model StockPortfolioTracker.Models.WalletStockViewModel

<h1>Add stock to wallet</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StockExchange" class="control-label"></label>
                <input asp-for="StockExchange" class="form-control" />
                <span asp-validation-for="StockExchange" class="text-danger"></span>
                <label asp-for="Ticker" class="control-label"></label>
                <input asp-for="Ticker" class="form-control" />
                <span asp-validation-for="Ticker" class="text-danger"></span>
                <label asp-for="Shares" class="control-label"></label>
                <input asp-for="Shares" class="form-control" />
                <span asp-validation-for="Shares" class="text-danger"></span>
                <label asp-for="BuyDateTime" class="control-label"></label>
                <input asp-for="BuyDateTime" type="datetime-local" class="form-control" />
                <span asp-validation-for="BuyDateTime" class="text-danger"></span>
                <label asp-for="AverageShareCost" class="control-label"></label>
                <input asp-for="AverageShareCost" class="form-control" />
                <span asp-validation-for="AverageShareCost" class="text-danger"></span>
                <input type="hidden" asp-for="@Model.WalletId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
