@model StockPortfolioTracker.ViewModels.WalletViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-walletId="@Model.WalletId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WalletStocks)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayText)
                <a asp-action="Edit" asp-route-wallet_x_stockId="@item.Wallet_X_StockId">Edit</a> |
                <a asp-action="Delete" asp-route-wallet_x_stockId="@item.Wallet_X_StockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
